.form-template{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* top: 10%; */
    z-index: 2;
    /* left: 30%; */
}
@media (max-width: 768px) {
    .form-template{
        position: relative;
        top: 0rem;
        left: 0rem;
        margin: 4rem;
        margin-bottom: 10rem;
    }
    .title{
        font-size: 1.57rem;
    }
  }